* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

hr {
  margin: 0;
}

img {
  border: 0;
  vertical-align: middle;
  max-width: 100%;
}

body {
	font-family: "Franklin Gothic Book", "Franklin Gothic Demi", "Franklin Gothic Medium";
	font-size: 1rem;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	background: #fff;
	position: relative;
	margin: 0;
	padding: 0;
	background: url(/images/fleck-white.gif) fixed repeat center center;
	height: 100%;
}

@Font-Face {
	font-family: "Franklin Gothic Book";
	src: url('/Fonts/FRABK.TTF') format ("truetype");
	src: url('/Fonts/FRABK.eot') format ("embedded-opentype");
	src: url('/Fonts/FRABK.woff') format ('woff');
	src: url('/Fonts/FRABK.otf') format ("otf");
	src: url('/Fonts/FRABK.svg') format ("svg");
}
@Font-Face {
	font-family: "Franklin Gothic Medium";
	src: url('/Fonts/framd.ttf') format ('truetype');
	src: url('/Fonts/framd.eot') format ('embedded-opentype');
	src: url('/Fonts/framd.woff') format ('woff');
	src: url('/Fonts/framd.otf') format ('otf');
	src: url('/Fonts/framd.svg') format ('svg');
}
@Font-Face {
	font-family: "Franklin Gothic Demi";
	src: url('/Fonts/fradm.ttf') format ('truetype');
	src: url('/Fonts/fradm.eot') format ('embedded-opentype');
	src: url('/Fonts/fradm.woff') format ('woff');
	src: url('/Fonts/fradm.otf') format ('otf');
	src: url('/Fonts/fradm.svg') format ('svg');
}

h1 {
  font-size: 1.25rem;
}

a {
	color: #000;
	transition: all .2s ease-in;
	-webkit-transition: all .1 ease-in;
	-moz-transition: all .1s ease-in;
	-o-transition: all .1s ease in;
}

a:link {
		color: #000;
		}

a:visited {
		color: #000;
		}

a:hover {
		color: #9bcde8;
		}

#container {
  padding-left: 1.75rem;
  padding-right: 1.75rem;
}

header {
	display: flex;
	flex-wrap: nowrap;
  height: 286px;
	max-width: 960px;
	background-color: #fff;
	margin-left: auto 0;
	margin-right: auto 0;
	box-shadow: 0 .1em .2em -.1em grey;

}

.pagewidth {
  width: 960px;
}

hr.line {
  width: 57%;
  float: right;
  margin-top: 162px;
}

nav ul li {
	display: flex;
	flex-direction: row;
  background-color: #fff;
  float: right;
  padding-right: 4px;
  text-align: right;
}

nav a {
  text-decoration: none;
	flex: auto;
}

nav[role="main"] ul li {
  font-size: 20px;
  letter-spacing: .2px;
  text-transform: uppercase;
  margin-left: 10px;
  padding-right: 4px;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #000;
}

nav[role="sub"] ul li {
  margin-left: 2px;
  border-right-width: 1px;
}

.main {
	display: flex;
  width: 100%;
	max-width: 960px;
  padding-left: 130px;
}

.main h1 {
  text-align: center;
  text-transform: uppercase;
}

.main img {
	width: 50%;
	float: left;
}

article {
  width: 50%;
  float: left;
  overflow: hidden;
}

figure {
  width: 273px;
  height: 273px;
  float: left;
  position: relative;
  margin: .1em;
  text-transform: uppercase;
  text-align: center;
  color: #e98a02;
}

.intro {
  background-color: #e98a02;
  float: right;
  padding: 40px 40px 40px 40px;
}

.content {
  text-align: justify;
  letter-spacing: 1px;
}

.space {
  background-color: #000;
  float: right;
  width: 100%;
  height: 194px
}

.space2 {
  background-color: #000;
  float: right;
  width: 100%;
  height: 312px;
}

.design-image {
  position: relative;
  display: inline-block;
  width: 86%;
}

.design-image h1 span {
  color: #fff;
  position: absolute;
  top: 10%;
  left: 20%;
  font-size: 5em;
  text-shadow: 0 1px 2px rgba(0,0,0,0.4);
}
footer {
  width: 100%;
  font-size: 12px;
  padding: 20px 0 20px 0;
  float: right;
}
