body, b, div, h1, h2, header, html, li, p, ul {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	list-style: none;
	font-size: 100%;
}

a, article, div, footer, header, li, nav, section {
	display: block;
}

header, .main, footer {
  position: relative;
}

hr {
  margin: 0;
}

hr.line {
  height: 2px;
  width: 57%;
  border: 0;
  float: right;
  margin-top: 162px;
  background: black;
}

hr.line2 {
  height: 2px;
  border: 0;
  background: black;
}

img {
  border: 0;
  vertical-align: middle;
  max-width: 100%;
}

body {
	font-family: "Franklin Gothic Book", "Franklin Gothic Demi", "Franklin Gothic Medium";
	font-size: 16px;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	background: #fff;
	position: relative;
	margin: 0;
	padding: 0;
	background: url (images/fleck-white.gif) fixed repeat center center;
	height: 100%;
}

h1 {
  font-size: 20px;
}

h2 {
  font-size: 20px;
}

a {
	color: #000;
	}

a:link {
		color: #000;
		}

a:visited {
		color: #000;
		}

a:hover {
		color: #9bcde8;
		}

#container {
  padding-left: 20px;
  padding-right: 20px;
}

header {
  height: 286px;
}

.pagewidth {
  margin-left: auto;
  margin-right: auto;
  width: 960px;
}

.left {
  float: left;
}

nav ul li {
  background-color: #fff;
  float: right;
  position: relative;
  float: right;
  padding-right: 4px;
  text-align: right;
}

nav a {
  text-decoration: none;
}

nav.top ul li {
  font-size: 20px;
  letter-spacing: .2px;
  text-transform: uppercase;
  margin-left: 10px;
  padding-right: 4px;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #000;
}

nav.sub ul li {
  margin-left: 2px;
  border-right-width: 1px;
}

.main {
  width: 100%;
  padding-left: 130px;
}

.main h1 {
  text-align: center;
  text-transform: uppercase;
}

article {
  width: 43%;
  position: relative;
  float: left;
  overflow: hidden;
}

article img {
  width: 100%;
}

figure {
  width: 273px;
  height: 273px;
  float: left;
  position: relative;
  margin: .1em;
  text-transform: uppercase;
  text-align: center;
  color: #e98a02;
}

.intro {
  background-color: #e98a02;
  float: right;
  padding: 40px 40px 40px 40px;
}

.content {
  text-align: justify;
  letter-spacing: 1px;
}

.space {
  background-color: #000;
  float: right;
  width: 100%;
  height: 194px
}

.space2 {
  background-color: #000;
  float: right;
  width: 100%;
  height: 19.5em;
}

.design-image {
  position: relative;
  display: inline-block;
  width: 86%;
}

.design-image h1 span {
  color: #fff;
  position: absolute;
  top: 10%;
  left: 20%;
  font-size: 5em;
  text-shadow: 0 1px 2px rgba(0,0,0,0.4);
}
footer {
  width: 100%;
  font-size: 12px;
  padding: 20px 0 20px 0;
  float: right;
}
