* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

ul, li {
	list-style: none;
}

hr {
  margin: 0;
}

img {
  border: 0;
  vertical-align: middle;
  max-width: 100%;
}

body {
	font-family: 'Crimson Text', serif;
	font-size: 1.125rem;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	background: #fff;
	height: 100%;
}

h1 {
  font-size: 1.25rem;
}

h2 {
	font-size: 1.150rem;
	text-align: center;
	font-weight: bold;
}

a {
	color: #000;
	transition: all .2s ease-in;
	-webkit-transition: all .1 ease-in;
	-moz-transition: all .1s ease-in;
	-o-transition: all .1s ease in;
}

a:link {
		color: #000;
		}

a:visited {
		color: #000;
		}

a:hover {
		color: #9bcde8;
		}

#container {
	background: url(/images/fleck-white.gif) fixed repeat center center;
  margin-left: 1.75vw;
  margin-right: 1.75vw;
}

header {
	display: flex;
	max-width: 960px;
  padding-bottom: 1em;
	margin: auto;

}

hgroup {
	float: left;
}

@media screen and (max-width: 701px) {
hgroup {width: 61%}
}

hr.line {
	display: block;
	background-color: #000;
  width: 26%;
	height: 2px;
  float: right;
	border: 0 none;
  margin-top: 9em;
}

@media screen and (max-width:1024px) {
	hr.line {width: 24%}

}

@media screen and (max-width:971px) {
	hr.line {width: 22%}

}

@media screen and (max-width:946px) {
	hr.line {width: 20%}

}

@media screen and (max-width:923px) {
	hr.line {width: 18%}

}

@media screen and (max-width:901px) {
	hr.line {width: 16%}

}

@media screen and (max-width:860px) {
	hr.line {display: none}

}

nav {
	display: flex;
	flex-direction: row;
}

nav ul li {
  background-color: #fff;
  float: right;
  padding-right: 4px;
  text-align: right;
}

nav a {
  text-decoration: none;
	flex: auto;
}

.nav-main ul li {
  font-size: 1.25em;
  letter-spacing: .2px;
  text-transform: uppercase;
  margin-left: 10px;
  padding-right: 4px;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #000;
}

.nav-main  {
	border-top-width: 2px;
	border-top-style: solid;
	border-top-color: #000;
	margin-top: 9em
}

@media screen and (max-width:743px) {
	.nav-main {margin-top: 10em; font-size: .90em;}

}

@media screen and (max-width:921px) {
	.nav-main {border: none; margin-top: 10.3em; font-size: .80em;}

}

.nav-main ul{
	margin: 0;
}

.nav-sub {
	float: right;
}

.nav-sub ul li {
  margin-left: 2px;
  border-right-width: 1px;
}

.nav-sub li + li {
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #000;
}

.main {
	display: flex;
  width: 100%;
	max-width: 960px;
  padding-left: 130px;
	margin: auto;
}

.main h1 {
  text-align: center;
  text-transform: uppercase;
}

.main img {
	width: 50%;
	float: left;
}

article {
  width: 50%;
  float: left;
  overflow: hidden;
}

figure {
  width: 273px;
  height: 273px;
  float: left;
  position: relative;
  margin: .1em;
  text-transform: uppercase;
  text-align: center;
  color: #e98a02;
}

.intro {
  background-color: #e98a02;
  float: right;
  padding: 40px 40px 40px 40px;
}

.content {
  text-align: justify;
  letter-spacing: 1px;
}

.space {
  background-color: #000;
  float: right;
  width: 100%;
  height: 4em
}

.space2 {
  background-color: #000;
  float: right;
  width: 100%;
  height: 13.4em;
}

.design-image img {
  display: inline-flex;
  width: 100%;
}

.design-image h1 span {
  color: #fff;
  position: absolute;
  left: 3em;
  font-size: 5em;
  text-shadow: 0 1px 2px rgba(0,0,0,0.4);
}
footer {
  width: 100%;
  font-size: 12px;
  padding: 20px 0 20px 0;
  float: right;
}

hr.footer-line {
	display: block;
	background-color: #000;
  width: 100%;
	height: 2px;
  float: right;
	border: 0 none;
}
