body, b, div, h1, h2, header, hgroup, html, li, p, ul {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	list-style: none;
	font-size: 100%;
}

article, div, footer, header, hgroup, nav, section {
	display: block;
}

header, .main {
  position: relative;
}

hr {
  margin: 0;
}

img {
  border: 0;
  vertical-align: middle;
  max-width: 100%;
}
body {
	font-family: "Franklin Gothic Book", "Franklin Gothic Demi", "Franklin Gothic Medium";
	font-size: 16px;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	background: #fff;
	position: relative;
	margin: 0;
	padding: 0;
	background: url(/images/fleck-white.gif) fixed repeat center center;
	height: 100%;
}

h1 {
  font-size: 20px;
}

a {
	color: #000;
	}

a:link {
		color: #000;
		}

a:visited {
		color: #000;
		}

a:hover {
		color: #9bcde8;
		}

#container {
  padding-left: 20px;
  padding-right: 20px;
}

header {
  height: 286px;
}

.pagewidth {
  margin-left: auto;
  margin-right: auto;
  width: 960px;
}

hr.line {
  width: 57%;
  float: right;
  margin-top: 162px;
}

nav ui {
  background-color: #fff;
  float: right;
  position: relative;
}

nav a ui {
  text-transform: uppercase;
  text-decoration: none;
  font-size: 20px;
  letter-spacing: .2px;
  margin-left: 10px;
  padding-right: 4px;
  float: right;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #000;
}

.main {
  margin: 0 auto;
  max-width: 960px;
	padding-left: 200px;
}

article {
  width: 46.5%;
  position: relative;
  float: left;
  overflow: hidden;
}

.hello {
  background-color: #e98a02;
  float: right;
  padding: 20px 40px 40px 40px;
}

.content {
  text-align: justify;
  letter-spacing: 1px;
}

.space {
  background-color: #000;
  float: right;
  width: 100%;
  height: 155px;
  padding: 20px 40px 40px 40px;
}
footer {
  font-size: 12px;
  padding-top: 25px;
  width: 827px;
  float: left;
  padding-left: 200px;
}

.nav2 {
  width: 350px;
  float: right;
  text-align: right;
}

.nav2 a {
text-transform: uppercase;
text-decoration: none;
}

.main h1 {
  position: absolute;
  margin-bottom: 50px;
  text-align: center;
  top: 75%;
}
